* {
	border: 1px solid black;
}
body{
	margin: 0;
	padding: 0;
}
header{
	margin: 0;
	padding: 0;
	border: 0px 0px 2px solid grey;
}
li {
	display: inline;
	list-style-type:none;
}
h1, h2{
	padding-left: 10px;
}
h3 {
	text-align: center;
}
footer{
	position: sticky;
	margin: 0;
	padding: 0;
	height: 30px;
	bottom: 0;
}
.alignDivs{
	width: 960px;
	margin-left:auto;
	margin-right:auto;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
.floating-box {
	display: inline-block;
}
.menu li {
	display: inline;
	border-left: solid 1px grey;
	padding: 0 10px;
	text-align: center;
	list-style-type: none;
}
.menu li:first-child {
	border-left: none;
}
.icon{
	width: 50px;
	height: 50px;
}
.floatright{
	float: right;
}
.floatleft{
	float: left;
}
#name{
	width: 200px;
}
#aboutMe{
	position: static; 
	float: left; 
	width: 650px;
}
#connect{
	padding-left: 55px;
}
#navMenu{
	width: 270px;
	float: right;
}
#connectSect{
	width: 270px;
	float: right;
}
#personalImage{
	padding: 10px;
	float: left;
	width: 150px;
	height: 150px;
}
